@page "/blazored"

@using GettingStarted.Blazor.UIElements
@if (Loading)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (Input is not null)
    {
        <GSWrapper Title="Edit (Best) Customer">
            <BestCustomerSave Input="Input" OnSubmitClick="SaveAsync" OnCancelClick="() => Input = null" ErrorMessage="@InputError"></BestCustomerSave>
        </GSWrapper>

    }
    else
    {
        @if (GridError is not null)
        {
            <Dismissable Message="@GridError" OnCloseClick="() => GridError = null" />
        }
        else
        {
            <BestCustomerTable Customers="Customers" OnDeleteClick="DeleteAsync" OnEditClick="InitUpdate" OnAddClick="InitInsert" CurrentPage="@CurrentPage" PageCount="@PageCount" OnPageClick="@OnPageAsync"></BestCustomerTable>
        }

    }
}