@page
@model GettingStarted.Web.Pages.Better.IndexModel
<h4 class="py-1">Customers (Better Example)</h4>
<table class="table  table-sm table-bordered ">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>First Name</th>
            <th>Last Name </th>
            <th>Email</th>
            <th colspan="2" class="text-center">
                <a asp-page="/Better/AddCustomer" title="Add a new custmer" class="text-center">
                    <i class="fa fa-plus"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Customers is null || Model.Customers.Count == 0)
        {
            <tr>
                <td colspan="5" class="text-center">
                    <p class="px-3 py-3">
                        You currently have no customers.
                        Click on the <i class="fa fa-plus text-primary"></i> icon to add customers.
                    </p>
                </td>
            </tr>
        }
        else
        {
            foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>@customer.CustomerId</td>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>@customer.Email</td>
                    <td align="center" width="48px">
                        <a asp-page="/Better/EditCustomer" asp-route-customerId="@customer.CustomerId">
                            <i class="fa fa-pencil text-info"></i>
                        </a>
                    </td>
                    <td align="center" width="48px">
                        <a asp-page-handler="DeleteCustomer" asp-route-customerId="@customer.CustomerId" onclick="return confirm('Permanently delete @customer.FirstName @customer.LastName?')">
                            <i class="fa fa-trash text-danger"></i>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>